.menu2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.menu2-item {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 50px;
}

.income-section {
 
  color: 22c55e;
}
.income-section-active {
  background-color: #22c55e; /* Tailwind green-500 */
  color: white;
  transition: 1s;

}

.expense-section {
  color: #ef4444; /* Tailwind red-500 */
}
.expense-section-active {
  background-color: #ef4444; /* Tailwind green-500 */
  color: white;
  transition: 1s;

}

.total-section {
  color: #3b82f6; /* Tailwind blue-500 */
}
.total-section-active {
  background-color: #3b82f6; /* Tailwind green-500 */
  color: white;
  transition: 1s;
}
.total-amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f3f4f6; Light gray background */
  /* border-radius: 25px; */
  /* padding: 0.5rem 1rem; */
  font-size: 1rem;
  font-weight: bold;
  color: #1f2937; /* Dark gray text */
  margin-bottom: 0.75rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 90%;
  text-align: center;
}

.total-amount-label {
  margin-right: 0.5rem;
  color: #6b7280; /* Medium gray */
}

.total-amount-value-income {
  color: #10b981; /* Tailwind green-500 */
  font-weight: bold;
}
.total-amount-value-expense {
  color: #ef4444; /* Tailwind green-500 */
  font-weight: bold;
}

